<!doctype html>
<html lang="en">
  <head>
        <!-- Primary Meta Tags -->
    <meta name="title" content="About the site - {{ name }}">
    <meta name="description" content="{{ meta-description }}">
    <meta name="author" content="{{ name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
   
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://axelgreavette.xyz/">
    <meta property="og:title" content="About the site - {{ name }}">
    <meta property="og:description" content="{{ meta-description }}">
    <meta property="og:image" content="../../{{ logo-icon }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://axelgreavette.xyz/">
    <meta property="twitter:title" content="About the site - {{ name }}">
    <meta property="twitter:description" content="{{ meta-description }}">
    <meta property="twitter:image" content="{{ logo-icon }}">
    
    <link rel="icon" href="../../{{ logo-icon }}">
    

    <title>About the site - {{ name }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/stars.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

  <body class="text-center">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">{{ name }}</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href={{ mail }}>Hire Me</a>
            <a class="nav-link active" href="/about-the-site">About the site</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">This site was lovingly made with</h1>
        <p class="technologies"><span>HTML5</span>•<span>CSS3</span>•<span>JavaScript</span>•<span><a href="https://nodejs.org">Node.JS</a></span>•<span><a href="https://expressjs.com">Express</a></span></p>
        <p class="lead">It's hosted 24/7 on a <strong>VPS</strong> supplied by <a href="https://digitalocean.com">DigitalOcean</a>, with the <strong>Source Code</strong> hosted on <a href="https://github.com/axelgreavette/axelgreavette.xyz">Github</a> and <strong>reverse-proxied</strong> through <a href="https://nginx.com">Nginx</a></p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        <p><a href={{ paypal }} title="By me a drink"><i class="fas fa-heart" style="color:crimson"></i></a> ~ &copy <strong>2015</strong> - <span id="copy-year">Loading...</span><br>Last Commit: <span id="latest-commit-sha">Loading...</span> on <span id="latest-commit-date">Loading...</span></p>
        </div>
      </footer>
    </div>

    <script src="../../assets/js/copyright.js"></script>
    <script src="../../assets/js/commit.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW"></script>
  </body>
</html>
